.guess {
  position: absolute;
  margin: 0;
  padding: 1rem;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;

  & .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }

  & .input {
    width: 100%;
    padding: 0.5em;
    max-width: 40rem;
    font-size: 1.5em;
    text-align: left;
    border: 2px solid;
  }

  & .button {
    margin-left: 0.5rem;
    padding: 0.5em;
    font-size: 1.5em;

    &.sent {
      color: green;
    }
  }
}
