html,
body,
main {
  height: 100%;
  overflow: hidden;
}

html {
  background: #faeee6 url('/background.svg') center / 16rem repeat;
}

body {
  font-family: 'Permanent Marker', cursive;
}

* {
  box-sizing: border-box;
}
