.menu {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  top: 8rem;
  width: 100%;

  & .title {
    margin: 0;
    margin-bottom: 2rem;
    width: 100%;
    font-size: 4em;
    text-align: center;
  }

  & .code {
    width: 100%;
    text-align: center;

    & em {
      font-size: 2em;
      font-style: normal;
      letter-spacing: 4px;
    }
  }

  & .break {
    width: 100%;
  }

  & .button {
    margin: 0.5rem;
    padding: 0.5em;
    font-size: 1.5em;
  }

  & .input {
    margin: 0.5rem;
    padding: 0.5em;
    width: 100%;
    max-width: 8em;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;

    &.code {
      letter-spacing: 4px;
    }
  }

  & .group {
    margin: 0.5rem 3rem;
    padding: 0;
    text-align: center;

    & > * {
      margin: 0;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }
  }
}
